body {
    background-color: lightblue;
}
.FWButton {
    background-color: lightblue;
    border:1.5px solid blue;
    border-radius:2px;
    color:blue;
}
.FWTable {
    border:1px solid grey;
    border-radius:3px;
    background-color: #E7ECF0;
}
.FWTHeadTr {

}
.FWTheadTd {
    border:1px solid grey;
}
.FWTd {

}